body {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.medito-name1 {
  font-weight: bold;
  font-size: 1.7rem;
  height: 17px;
  margin: 0;
  display: flex;
  align-items: center;
}
.medito-name2 {
  font-size: 0.8rem;
  height: 13px;
  margin: 0;
}
.left-section {
  margin: 4px 0px;
  display: flex;
}
.medito-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.medito-logo {
  background: url("/Projects/Medito/images/img2.png");
  background-size: cover;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.donate-btn {
  background-color: #73ca92;
  border: none;
  width: 78px;
  height: 40px;
  border-radius: 2px;
  font-size: 14px;
}
.section1 {
  margin-bottom: 75px;
}
.heading1 {
  font-size: 48px;
  padding: 0px 0px 24px;
  line-height: 60px;
  font-weight: bold;
}
.para {
  font-size: 20px;
  margin: 0px 0px 20px;
  line-height: 33px;
}
.btn1 {
  width: 166px;
  height: 48px;
  background-color: #0000001a;
  border: none;
  font-weight: bold;
  border-radius: 2px;
}
.btn2 {
  width: 92px;
  height: 48px;
  background-color: #72ca97;
  border: none;
  margin-left: 14px;
}
.kid-img {
  width: 680px;
  border-radius: 5px;
}
.nav-item a {
  color: black;
}
/* .home a {
  font-weight: bold;
} */
.unordered-list {
  align-items: center;
}
.unordered-list li {
  margin-right: 4px;
}
.section2 {
  background-color: #f4f4fc;
  padding-top: 80px;
}
.heading2 {
  margin-bottom: 80px;
}
.date {
  font-size: 14px;
  margin: 20px 0px 10px;
  opacity: 0.5;
}
.para1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 2rem;
  margin-bottom: 5px;
}
.para2 {
  font-size: 18px;
  color: black;
}
.article-btn {
  background-color: #e2e3e3;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
}
.article-div {
  padding: 75px 0px;
}
.navbar-toggler {
  border: none !important;
  color: black;
}
.navbar-toggler:focus {
  outline: 0;
  box-shadow: none !important;
}
.support-container {
  background-color: black;
  color: white;
  width: 76%;
  height: 600px;
  padding: 80px;
  border-radius: 8px;
}
.lab-img {
  width: 445px;
  height: 52px;
}
.supporters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 440px;
}
.kirby {
  width: 150px;
  height: 52px;
}
.notion {
  width: 50px;
  height: 52px;
}
.sentry {
  width: 175px;
  height: 52px;
}
.mind-association {
  width: 140px;
  height: 100px;
}
.support-head {
  font-size: 20px;
  font-weight: bold;
}
.three-icons {
  gap: 4rem;
  margin-top: 10px;
}
.section3 {
  margin-bottom: 75px;
}
.section3 img {
  cursor: pointer;
}
.section2 a {
  text-decoration: none;
  color: black;
}
footer {
  padding: 80px 80px 65px;
  background-color: #111118;
}
.title {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 13px;
}
.navigate a {
  color: gray;
  display: block;
  text-decoration: none;
  font-size: 14px;
  margin-top: 5px;
}
.copyright {
  color: gray;
  font-size: 14px;
  line-height: 1rem;
  text-align: end;
}
.media-icons {
  display: flex;
  gap: 2rem;
}
.media-icons li {
  list-style: none;
}
.media-icons li a {
  font-size: 1.2rem;
}
.footer-media {
  color: gray;
}
.navigate-container {
  margin-bottom: 60px;
}
.bold-class {
  font-weight: bold !important;
}

/* responsiveness */

/* breakpoint of lg: medium devices(tablets and small laaptops) - 768px to 992px */
@media (max-width: 992px) {
  header {
    position: fixed;
    width: 100%;
  }
  .container {
    padding-top: 65px;
  }
  .heading1 {
    font-size: 40px;
    line-height: 50px;
  }
  .navbar-toggler {
    margin-right: 10px;
  }
  .section2 {
    padding: 0px 25px;
  }
}

@media (max-width: 875px) {
  .section3 {
    display: none;
  }
}

/* breakpoint of md: small devices(small tablets and larger mobile phones) - 576px to 768px */
@media (max-width: 768px) {
  .section2 {
    padding: 80px 15px 0px;
  }
  .section1 {
    padding-right: 15px;
    padding-left: 15px;
  }
  footer {
    text-align: center;
    padding: 50px 80px 55px;
  }
  .media-icons {
    justify-content: center;
    align-items: center;
  }
  .navigate-container {
    gap: 1.5rem;
    margin-bottom: 30px;
  }
  .footer-para {
    margin-top: 40px;
  }
  .copyright {
    text-align: center;
    margin-top: 35px !important;
  }
}

/* breakpoint of sm: x-small devices(small android phones) - below 576px */
@media (max-width: 576px) {
  .btn1 {
    width: 100%;
  }
  .btn2 {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
}
